#A function is a block of code that performs a speccific task.Function helps in orgainzing the code,reusing code,and improving readability

In [25]:
def even_odd(num):
  if num%2==0:
    print("the number is evem")
  else:
    print("the number is odd")

In [26]:
#Calling the function
even_odd(23)

the number is odd

In [27]:
#Functions with multiple parameters
def add(a,b):
  return a+b

add(2,4)

6

In [28]:
#Default Parameters
def greet(name="Arif"):
  print(f"Hello {name}, Welcome to the Paradise")

greet()

Hello Arif, Welcome to the Paradise

In [29]:
#Variable Length Arguments

#Positional and Keyword Argument

def print_numbers(*args):
  for numbers in args:
    print(numbers)

In [30]:
print_numbers(1,2,3,4,5,"args")

1
2
3
4
5
args

In [31]:
##Keywords Arguments
#In keyword Argument all the parameters will be in key value pair

def print_detail(**kwargs):
  for key,value in kwargs.items():
    print(f"{key}:{value}")

In [32]:
print_detail(name="Asif",age="23",country="India")

name:Asif
age:23
country:India

In [33]:
print_detail(name="Arif",age="23",country="India")

name:Arif
age:23
country:India

In [34]:
#Implementing both keyword and Positional Argument

def print_details(*args,**kwargs):
  for num in args:
    print(f"Positional argument is :{num}")

  for key,value in kwargs.items():
    print(f"{key}:{value}")

In [35]:
print_details(1,2,3,4,5,"args",name="Asif",age="23",country="India")

Positional argument is :1
Positional argument is :2
Positional argument is :3
Positional argument is :4
Positional argument is :5
Positional argument is :args
name:Asif
age:23
country:India

In [36]:
#Return statements

def multiply(a,b):
  return a*b

In [37]:
multiply(2,3)

6

In [38]:
#Return multiple parameters

def multiply(a,b):
  return a*b,a

multiply(2,3)

(6, 2)

In [39]:
 #Temperature Conversion

def convert(temp,unit):
  """This function converts temperature between Celsius and farhenit"""
  if unit=="C":
    return temp *9/5+32 #converting the celsius to farhenit
  elif unit=="F":
    return (temp-32)*5/9 #Farhrenit to celsius
  else:
    return None


print(convert(25,"C"))
print(convert(77,"F"))

77.0
25.0

In [40]:
#Password strength checker
def password_checker(password):
  if len(password)<8:
    return False
  if not any(char.isdigit() for char in password):
    return False
  if not any(char.islower() for char in password):
    return False
  if not any(char.isupper() for char in password):
    return False
  if not any(char in "!@#$%^&*" for char in password):
    return False
  return True

In [41]:
password_checker("Asif@122")

True

In [42]:
#Calculating the total cost of items in a cart
def calculate(cart):
  total_cost=0
  for item in cart:
    total_cost+=item["price"]*item["quantity"]

  return total_cost

In [43]:
cart=[{"name":"apple","price":1,"quantity":4},
      {"name":"banana","price":50,"quantity":1},
      {"name":"kiwi","price":2,"quantity":1}]

In [44]:
#calling the function
total_cost=calculate(cart)
print(total_cost)

56

In [45]:
def is_palindrome(s):
  s=s.lower().replace(" ","")
  return s==s[::-1]

is_palindrome("GADA g")

True

In [46]:
#Calculate a factorial of a number using the recursion
def factorial(n):
  if n==0:
    return 1
  else:
    return n*factorial(n-1)

print(factorial(3))

6

In [47]:
#A function to read file and count the frequency of each word
def count_frequency(file_path):
  word_count={}
  with open(file_path,"r") as file:
    for line in file:
      words=line.split()
      for word in words:
        word=word.lower().strip('.,?;:"\'')
        word_count[word]=word_count.get(word,0)+1
  return word_count

file_path="/content/Hello.txt"
word_count= count_frequency(file_path)
print(word_count)

{'hurray': 1, 'today': 1, 'is': 1, 'sunday': 1}