#Importing Modules in Python: Modules and Packages

In python modules and packages help organize and reuse code.Here is a comprehensive guide on how to import them and use them

In [1]:
 #Modules in Python
import math
#to install modules (pip install <module name>)

math.sqrt(16)

4.0

In [2]:
import numpy as np
np.array([1,2,3,4,5])

array([1, 2, 3, 4, 5])

#Standard Library Overview

**Pythons standard library is a vast collection of modules and paacckages that come bndled with Python,Providng a wide range of functionalities out of the box Here is an overview of the most commonly used modules and packages in Python Standard Library**

In [9]:
import array
arr=array.array("i",[1,2,3,4,5])
print(arr)

array('i', [1, 2, 3, 4, 5])

In [10]:
import math
math.sqrt(16)

4.0

In [11]:
print(math.pi)

3.141592653589793

In [20]:
#random
import random
random.seed(0)
print(random.randint(1,20))

13

In [29]:
###File and Directory access
import shutil
import os
print(os.getcwd())
os.mkdir("test")

/content

In [37]:
#Data Serialization
import json
data={"name":"Asif","age":23}

json_str=json.dumps(data)
print(json_str)
print(type(json_str))

parsed_data=json.loads(json_str)
print(parsed_data)
print(type(parsed_data))

{"name": "Asif", "age": 23}
<class 'str'>
{'name': 'Asif', 'age': 23}
<class 'dict'>

In [42]:
#Working with the csv file
import csv
with open("example.csv",mode="w",newline="") as file:
  writer=csv.writer(file)
  writer.writerow(["name","age"])
  writer.writerow(["Asif",23])

with open("example.csv",mode="r") as file:
  reader=csv.reader(file)
  for row in reader:
    print(row)

['name', 'age']
['Asif', '23']

In [47]:
#date time module
from datetime import datetime,timedelta

now=datetime.now()
print(now)

yesterday=now-timedelta(days=1)
print(yesterday)

2025-12-23 11:03:00.273947
2025-12-22 11:03:00.273947

In [48]:
#time
import time
print(time.time())
time.sleep(2)
print(time.time())

1766487831.1825664
1766487833.183003

In [52]:
#regular expresion
import re

pattern=r"\d+"
text="There are 1232 apples"
match=re.search(pattern,text)
print(match.group())

1232