Defining the Function

In [ ]:
def greet():
  print("hello")
greet()

hello

In [ ]:
def greet():
    print("hello")

# This will print "hello" 10 times and avoid infinite recursion
[greet() for i in range(10)]

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

[None, None, None, None, None, None, None, None, None, None]

Global and Local Variable

In [ ]:
g=10
def scope():
  l=5

  print(g,l)

scope()

10 5

Passing the parameter in a function

In [ ]:
def greeting(n):
  print("Hello",n)

greeting("Asif")

Hello Asif

Passing the parameter 2nd method

In [ ]:
def Welcome(name):
  print("welcome",name)

Welcome(name="Asif")

welcome Asif

Passing the parameter 3rd methid

In [ ]:
def greet(n="ABC"):
  print("hello",n)

greet()

hello ABC

Example of passing two parameters in a function and performing Operation

In [ ]:
def sum(a,b):
  print(a,"+",b,"=",a+b)

sum(2,4)

2 + 4 = 6

Using return in a function

In [ ]:
def sum(a,b):
  return a+b

s=sum(2,4)
print(s)

6

Returning Multiple Operations

In [ ]:
def subm(a,b):
  return a+b,a-b,a*b

s=subm(5,10)
print(s)
print(type(s))

(15, -5, 50)
<class 'tuple'>

Returning the direct value instead of tuple

In [ ]:
def arithmetic(a,b):
  return a+b,a-b,a*b

addition,substraction,multiplication=arithmetic(5,10)

print(addition,substraction,multiplication)

15 -5 50

Defining Multiple Functions to perform the Operations

In [ ]:
lst=[1,2,3,4,5,6]

def sqr_lst(lst):
  return [i**2 for i in lst]

def cube_lst(lst):
  return [i**3 for i in lst]

l_1=sqr_lst(lst)
l_2=cube_lst(lst)

print(l_1,l_2)

def sum(lst):
  return [l_1[i]+l_2[i] for i in range(len(lst))]

print(sum(lst))

[1, 4, 9, 16, 25, 36] [1, 8, 27, 64, 125, 216]
[2, 12, 36, 80, 150, 252]

In [ ]:
lst=[1,2,3,4,5,6]

def sqr_lst(lst):
  return [i**2 for i in lst]

def cube_lst(lst):
  return [i**3 for i in lst]


def sum(lst):
  l_1=sqr_lst(lst)
  l_2=cube_lst(lst)
  return [l_1[i]+l_2[i] for i in range(len(lst))]

print(sum(lst))

[2, 12, 36, 80, 150, 252]